<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>21-ocwcd-late</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.controller.SignupServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.controller.AddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/AddServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PatternServlet</servlet-name>
		<servlet-class>com.controller.PatternServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PatternServlet</servlet-name>
		<url-pattern>/PatternServlet</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>MultiplicationTableServlet</servlet-name>
		<servlet-class>com.controller.MultiplicationTableServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>MultiplicationTableServlet</servlet-name>
		<url-pattern>/table</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>


















</web-app>